<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.text_field :content, placeholder: "Add comment.." %>
    <%= f.hidden_field :post_id, value: @comment.post_id  %>

  </div>
  <%= f.submit "Reply", class: "btn" %>
<% end %>
